@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(145deg, #fec671 2%, #cf3072 46%, #6b42b4 100%);
  /* overflow: auto; */
  overflow: auto;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sliderOverflow {
  overflow: hidden;
  overflow-y: scroll;
  height: 98vh !important;
}

.circleBorder {
  border-radius: 50%;
  border-top: 3px solid rgba(243, 171, 163, 0.8);
  border-left: 3px solid rgba(243, 171, 163, 0.8);
  box-shadow: inset 1px 1px 6px rgba(243, 171, 163, 0.8),
    0px 0px 1px rgba(121, 78, 9, 0.1);
}

.rectangleBorder {
  border-top: 3px solid rgba(243, 171, 163, 0.8);
  border-left: 3px solid rgba(243, 171, 163, 0.8);
  box-shadow: inset 1px 1px 6px rgba(243, 171, 163, 0.8),
    0px 0px 1px rgba(121, 78, 9, 0.1);
}

.carousel .slider-wrapper.axis-vertical {
  height: 100vh !important;
}

.carousel .slider {
  display: flex;
  gap: 35px;
}

.slide.selected {
  transform-origin: center;

  transform: scale(1.4, 1.4);
}

#scroller {
  animation: 0.8s ease-out y;

  -webkit-mask-box-image: -webkit-linear-gradient(
    top,
    transparent,
    transparent 0,
    white 10%,
    white 80%,
    transparent 100%
  );
}

/* .scroller .card:nth-child(2) {
  transform: scale(1.4, 1.4);
} */
