@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(145deg, #f3c57f 0%, #c9437a 46%, #6b42b4 100%);
  /* overflow: auto; */
}

.circleBorder {
  border-radius: 50%;
  box-shadow: inset 4px 3px 3px rgba(251, 212, 164, 0.4),
    0 0px 1px rgba(121, 78, 9, 0.4);
}

.rectangleBorder {
  box-shadow: inset 4px 4px 6px rgba(251, 212, 164, 0.4),
    0 0px 1px rgba(121, 78, 9, 0.1);
  border-radius: 12px;
  padding: 2px;
}

.card {
  /* animation: slideUp 5s infinite; */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
  }

  5%,
  20% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
  }

  25%,
  40% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  45%,
  60% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
  }

  65%,
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }
}

#scroller {
  animation: 0.2s ease-in y;

  -webkit-mask-box-image: -webkit-linear-gradient(
    top,
    transparent,
    transparent 0,
    white 10%,
    white 80%,
    transparent 100%
  );
}

/* .scroller .card:nth-child(2) {
  transform: scale(1.4, 1.4);
} */
