@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(145deg, #fec671 2%, #cf3072 46%, #6b42b4 100%);
  /* overflow: auto; */
  max-height: 100vh;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sliderOverflow {
  overflow: hidden;
  overflow-y: scroll;
  height: 98vh !important;
}

.circleBorder {
  border-radius: 50%;
  border-top: 3px solid rgba(243, 171, 163, 0.8);
  border-left: 3px solid rgba(243, 171, 163, 0.8);
  box-shadow: inset 1px 1px 6px rgba(243, 171, 163, 0.8),
    0px 0px 1px rgba(121, 78, 9, 0.1);
}

.rectangleBorder {
  border-top: 3px solid rgba(243, 171, 163, 0.8);
  border-left: 3px solid rgba(243, 171, 163, 0.8);
  box-shadow: inset 1px 1px 6px rgba(243, 171, 163, 0.8),
    0px 0px 1px rgba(121, 78, 9, 0.1);
}

.slick-slide:not(.slick-active) {
  position: relative;
  z-index: 997;
}
.slick-slide.slick-active:not(.slick-current) .card {
  position: relative;
  z-index: 998;
  transform: scale(1.22);
  transition: 0.25s;
}
.slick-slide.slick-active.slick-current.card {
  position: relative;
  z-index: 999;
  transform: scale(1.6);
  transition: 0.25s;
}
.slick-slide.slick-active:not(.slick-current) .image,
.slick-slide.slick-active.slick-current .image,
.slick-slide:not(.slick-active) .image {
  width: 100% !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
  }

  5%,
  20% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
  }

  25%,
  40% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  45%,
  60% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
  }

  65%,
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }
}

#scroller {
  animation: 0.2s ease-in y;

  -webkit-mask-box-image: -webkit-linear-gradient(
    top,
    transparent,
    transparent 0,
    white 10%,
    white 80%,
    transparent 100%
  );
}

/* .scroller .card:nth-child(2) {
  transform: scale(1.4, 1.4);
} */
